body{
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: rgb(250, 250, 250);
    color: rgb(14, 14, 14);
    font-family: "Libre Baskerville", serif;
}

h1{
    font-weight: 400;
    font-size: 2.5em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}